@import url('https://fonts.cdnfonts.com/css/netflix-font');

/* font-family: 'Netflix Font', sans-serif; */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url(Assets/Images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 100vh;
    position: relative;
}

.background-box{
    height: 100vh;
    width: 100%;
    opacity: 0.60;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    max-width: 70vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    height: 85px;
    align-items: center;
}

nav img{
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.center-text{
    height: calc(100% - 85px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Netflix Font', sans-rifse;
    gap: 23px;
    padding: 0 30px;
}

.center-text> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.center-text> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.center-text> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line{
    height: 7px;
    background-color: rgba(255, 255, 255, 0.295);
}

.btn{
    padding: 8px 30px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 13px 40px;
    font-size: 24px;
    border-radius: 4px;
    font-weight: 400;  
}

.btn-red-sm{
    background-color: red;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
}


.center-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.center-button input{
    color: white;
    padding: 18px 180px 18px 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    background-color: rgba(37, 37, 37, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding-bottom: 75px;
}

.first-Img{
    position: relative;
}

.first-Img img{
    margin-top: 6vw;
    width: 480px;
    position: relative;
    z-index: 10;
}

.first-Img video{
    position: absolute;
    top: 156px;
    right: 66px;
    width: 346px;
}

.page{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
    font-family: 'Netflix Font', sans-rifse;
}

.page> :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.page> :nth-child(2){
    font-size: 24px;
}

.second-Img{
    position: relative;
}

.second-Img img{
    margin-top: 6vw;
    width: 500px;
    position: relative;
    z-index: 10;
}

.second-Img video{
    position: absolute;
    top: 120px;
    right: 111px;
    width: 285px;
}

svg{
    color: white;
}

.feq{
    background-color: black;
    color: white;
    padding: 34px;
}

.box:hover{
    background-color: rgb(83, 83, 83);
}

.feq h2{
    text-align: center;
    font-size: 48px;
}

.box{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 58, 58);
    padding: 30px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.center-text-second{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Netflix Font', sans-rifse;
    gap: 23px;
    padding: 0 30px;
}

.center-text-second> :nth-child(1){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.center-button-second{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 60px;
}

.center-button-second input{
    color: white;
    padding: 18px 180px 18px 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    background-color: rgba(37, 37, 37, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

.Questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a{
    font-size: 14px;
    color: white;
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: 28px;
}